{% extends 'base.html' %}
{% block content %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">وارد شوید</h1>
                <p class="lead fw-normal text-white-50 mb-0">ورود به ناحیه کاربری </p>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-10">
                    <form class="nice" method="POST" action="{% url 'login' %}">
                        <center>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label>
                                <input type="text" class="form-control" name="username" placeholder="نام کاربری">
                            </label>
                        </div>
                        <div class="mb-3">
                            <label>
                                <input type="password" class="form-control" name="password" placeholder="رمز عبور">
                            </label>
                        </div>
                        <button type="submit" class="btn btn-secondary">ورود</button>
                        </center>
                    </form>
                </div>
            </center>
        </div>
    </div>
{% endblock %}